body{
    margin: 0;
    font-family: cursive;
}
.header{
    display: flex;
    align-items: center;
    height: 50px;
    background: linear-gradient(90deg, #0b698b 1.18%, #0396a6 100%);
    color: #f2f2f2;
    padding: 20px;
}
.header-logo{
    width: 100px;
    margin-right: 5px;
    background: transparent;
}
.header-title{
    font-size: 35px;
}